---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Wins from '../components/Wins.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import CTABanner from '../components/CTABanner.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main class="pt-16"> <!-- Add padding-top to account for fixed header -->
		<Hero />
		<!--<HowItWorks />-->
		<Wins />
		<Features />
		<Pricing />
		<CTABanner />
	</main>
	<Footer />
</Layout>
