<div class="inline-flex flex-col gap-1">
  <% days_by_weekday.each do |weekday_row| %>
    <div class="flex gap-1">
      <% weekday_row.each do |date| %>
        <% if date %>
          <div
            class="<%= day_class(date) %>"
            title="<%= day_title(date) %>"
            data-date="<%= date.to_s %>"
          ></div>
        <% else %>
          <div class="w-5 h-5"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>